$color: #fff !default;
$bg: #1f2329 !default;
$padding: 6px 10px !default;
$radius: 6px !default;
$arrowSize: 9px !default;
$boxShadow: 0 !default;

.ndt {
  --ndt-color: #{$color};
  --ndt-bg: #{$bg};
  --ndt-padding: #{$padding};
  --ndt-radius: #{$radius};
  --ndt-arrow: #{$arrowSize};
  --ndt-shadow: #{$boxShadow};

  font-size: 12px;
  line-height: 1.5em;

  &_content {
    padding: var(--ndt-padding);
    border-radius: var(--ndt-radius);
    color: var(--ndt-color);
    background: var(--ndt-bg);
    box-shadow: var(--ndt-shadow);
    white-space: pre-wrap;
  }

  &_arrow {
    width: var(--ndt-arrow);
    height: var(--ndt-arrow);
    transform: rotate(45deg);
    transform-origin: center;
    background: var(--ndt-bg);
  }

  &_ani {
    &-enter-from, &-exit-to {
      transform: scale(.7);
      opacity: 0;
    }
    &-enter-active, &-exit-active {
      transition: transform .2s cubic-bezier(.34,.69,.1,1), opacity .2s cubic-bezier(.34,.69,.1,1);
    }
    &-t {
      transform-origin: bottom;
    }
    &-tl {
      transform-origin: bottom left;
    }
    &-tr {
      transform-origin: bottom right;
    }
    &-b {
      transform-origin: top;
    }
    &-bl {
      transform-origin: top left;
    }
    &-br {
      transform-origin: top right;
    }
    &-l {
      transform-origin: right;
    }
    &-lt {
      transform-origin: right top;
    }
    &-lb {
      transform-origin: right bottom;
    }
    &-r {
      transform-origin: left;
    }
    &-rt {
      transform-origin: left top;
    }
    &-rb {
      transform-origin: left bottom;
    }
  }
}
