$color: #fff !default;
$bg: #1f2329 !default;
$padding: 8px 12px !default;
$radius: 8px !default;
$arrowSize: 12px !default;
$boxShadow: 0 !default;

.ndt {
  --ndt-color: #{$color};
  --ndt-bg: #{$bg};
  --ndt-padding: #{$padding};
  --ndt-radius: #{$radius};
  --ndt-arrow: #{$arrowSize};
  --ndt-shadow: #{$boxShadow};

  &_content {
    padding: var(--ndt-padding);
    border-radius: var(--ndt-radius);
    color: var(--ndt-color);
    background: var(--ndt-bg);
    box-shadow: var(--ndt-shadow);
    white-space: pre-wrap;
  }

  &_arrow {
    width: var(--ndt-arrow);
    height: var(--ndt-arrow);
    transform: rotate(45deg);
    transform-origin: center;
    background: var(--ndt-bg);
  }

  &_ani {
    &-enter-from, &-exit-to {
      transform: scale(.7);
      opacity: 0;
    }
    &-enter-active, &-exit-active {
      transition: transform .2s cubic-bezier(.34,.69,.1,1), opacity .2s ease;
    }
    &-t, &-tl, &-tr {
      transform-origin: bottom;
    }
    &-b, &-bl, &-br {
      transform-origin: top;
    }
    &-l, &-lt, &-lb {
      transform-origin: right;
    }
    &-r, &-rt, &-rb {
      transform-origin: left;
    }
  }
}
